{
  "overrides": [
    // Service Worker override
    {
      "files": ["apps/web/public/sw.js"],
      "env": {
        "serviceworker": true,
        "node": false,
        "browser": false
      },
      "rules": {
        "@typescript-eslint/no-unused-expressions": "off",
        "no-undef": "off"
      }
    },
    // Test files (Jest)
    {
      "files": ["**/*.test.ts", "**/*.spec.tsx", "**/*.test.js"],
      "env": {
        "jest": true,
        "node": true
      }
    },
    // All JS files (including scripts, dist, root, etc.)
    {
      "files": ["**/*.js"],
      "env": {
        "node": true,
        "browser": false
      },
      "rules": {
        "no-undef": ["off"],
        "@typescript-eslint/no-require-imports": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
